@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.1rem;
    --radius-big: .4rem;
    --radius-table: .75rem;

    --clr-primary-blue: #5b7bfcff;
    --clr-blueray200: #e7eefaff;
    --clr-blueray100: #f5f7fbff;

    --clr-light: #f8f9fa;
    --clr-light-gray: #ced4da;
    --clr-gray: #6c757d;
    --clr-blue: #3891f2;
    --clr-danger-red: #d9252e;

    --clr-ink-light-blue: #e7eefaff;
    --clr-ink-light-gray: #f5f7fbff;
    --clr-ink-dark-gray: #a1a5aaff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.danger {
    color: var(--clr-danger-red);
}

html {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Roboto, sans-serif;
    /* background: var(--clr-light); */
    background-color: var(--clr-ink-light-blue);
}

nav {
    margin: 2rem 0 2rem;
    padding: 1.5rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 1rem 1rem 1rem;
    padding: 1.5rem 1.5rem 0;
    background-color: white;
    border-radius: var(--radius-big);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    font-size: .8rem;
}

.data-table {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.editable-entry-input {
    display: none;
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.options-modal {
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: white;
    /* border: 2px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-weight: 400;
    border-radius: var(--radius-big);
    text-align: left;
    line-height: 1.8rem;
    padding: 1rem 1rem 1rem;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateX(-15px) translateY(-50%);
}

.options-modal li {
    cursor: pointer;
    border-radius: var(--radius-big);
    padding: .5rem;
}

.options-modal li:hover {
    background-color: var(--clr-light);
}

.shown {
    display: block;
}

.shown-modal {
    display: block;
}

.data-table th {
    /* background-color: var(--clr-gray200); */
    background-color: var(--clr-ink-light-gray);
    padding: 1rem 0 1rem;
    color:var(--clr-ink-dark-gray);
}

.data-table td {
    position: relative;
    padding: 1.4rem 0 1.4rem;
    font-weight: 500;
}

tbody>tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-light-gray);
}

tbody>tr:hover {
    cursor: pointer;
}

th:first-child {
    border-top-left-radius: var(--radius-table);
    border-bottom-left-radius: var(--radius-table);
}

th:last-child {
    border-top-right-radius: var(--radius-table);
    border-bottom-right-radius: var(--radius-table);
}

.btn-more-options {
    display: block;
    border-style: none;
    outline: none;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-more-options:hover {
    color: var(--clr-blue);
}

.btn-primary {
    background: var(--clr-blue);
    color: white;
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-wireframe {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: var(--clr-primary);
    background: none;
    border: solid 2px var(--clr-primary);
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-wireframe:hover {
    color: var(--clr-primary-hover);
    border: solid 2px var(--clr-primary-hover);
}