@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@500;700&display=swap');
:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.2rem;
    --radius-big: 1rem;
    --radius-table: .75rem;

    --clr-primary-blue: #5b7bfcff;
    --clr-blueray200: #e7eefaff;
    --clr-blueray100: #f5f7fbff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
}

main {
    margin: 2rem 2rem 1rem;
}

.nav-list {
    background-color: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    /* transition: all 200ms ease-in; */
    font-size: 1.5rem;
}

.nav-item a:hover {
    color: var(--clr-primary-dark);
}

.nav-item h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

.nav-item:last-child {
    margin-left: auto;
    margin-right: 2rem;
}

.page-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor {
    width: 100%;
    background: white;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem;
    padding: 1rem 5rem 1rem;
    transition: opacity 1s ease-in;
}

.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    text-align: center;
}

th {
    padding: 1.4rem 0rem 1.4rem;
    background-color: var(--clr-gray200);
}

th:first-child {
    border-top-left-radius: var(--radius-table);
    border-bottom-left-radius: var(--radius-table);
}

th:last-child {
    border-top-right-radius: var(--radius-table);
    border-bottom-right-radius: var(--radius-table);
}

td {
    padding: 1.4rem 0rem 1.4rem;
    background-color: white;
}

td:first-child {
    border-top-left-radius: var(--radius-table);
    border-bottom-left-radius: var(--radius-table);
}

td:last-child {
    border-top-right-radius: var(--radius-table);
    border-bottom-right-radius: var(--radius-table);
}

.btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    /*transition: all 200ms ease-in;*/
}

.btn-primary:hover {
    background: var(--clr-primary-hover);
}

.btn-wireframe {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: var(--clr-primary);
    background: none;
    border: solid 2px var(--clr-primary);
    outline: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-wireframe:hover {
    color: var(--clr-primary-hover);
    border: solid 2px var(--clr-primary-hover);
}