@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.1rem;
    --radius-big: .4rem;
    --radius-table: .75rem;

    --clr-primary-blue: #5b7bfcff;
    --clr-blueray200: #e7eefaff;
    --clr-blueray100: #f5f7fbff;

    --clr-light: #f8f9fa;
    --clr-light-gray: #ced4da;
    --clr-gray: #6c757d;
    --clr-blue: #3891f2;
    --clr-danger-red: #d9252e;

    --clr-ink-light-blue: #e7eefaff;
    --clr-ink-light-gray: #f5f7fbff;
    --clr-ink-dark-gray: #a1a5aaff;

    /* Lavender Fizz */
    --clr-lavender-fizz: #eef0ff; 
   /* Moon Beam  */
    --clr-moon-beam: #fcf3dc;
    /* Spearmint */
    --clr-spearmint: #e8f8f3;
    /* Granny Smith */
    --clr-granny-smith: #dcebde;
    /* Lazy Sapphire */
    --clr-lazy-sapphire: #9fbbd4;

    /* Skinny Dip */
    --clr-skinny-dip: #4e6f79;
    --clr-skiny-dip-dark: #354e5aff;

    --clr-background: #e7eefa;
    --clr-background-main: #ffffff;
    --clr-text: #232c3b;
    --clr-background-header: #f5f7fb;
    --clr-text-header: #8f9098;
    --clr-background-btn: #5d7cfc;
    --clr-text-btn: #ffffff;
    --clr-red: #d9252e;

    --clr-dark-blue: #555b6e;
    --clr-text-color: #555b6e;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.click-intercept {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: 42;
}

.show-intercept {
    display: block;
}

.alert {
    display: none;
    position: fixed;
    min-width: 300px;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1rem 1rem;

    background-color: white;
    border-left: .5rem solid var(--clr-danger-red);
    border-radius: var(--radius-big);
    /* height: 75px; */
    color: black;

}

.show-alert {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 555;
}

.alert-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert i {
    color: var(--clr-danger-red);
    font-size: 2.5rem;
    margin-right: .5rem;
}

.alert button {
    outline: none;
    background: none;
    border: none;
    margin-left: 1rem;
    font-size: 1rem;
}

.alert button:hover {
    cursor: pointer;
}

html {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Roboto, sans-serif;
    /* background-color: var(--clr-ink-light-blue); */
    background-color: var(--clr-background);
}

nav {
    margin: 2rem 0 2rem;
    padding: 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: var(--clr-blue);
}

main {
    margin: 1rem 1rem 1rem;
    padding: 1.5rem 1.5rem 1.5rem;
    background-color: var(--clr-background-main);
    color: var(--clr-text);
    /* background-color: var(--clr-main); */
    border-radius: var(--radius-big);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    font-size: .8rem;
    color: var(--clr-text);
}

.data-table {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.editable-entry {
    position: relative;
    display: inline-block;
}

.editable-entry span:hover {
    color: var(--clr-blue);
    cursor: text;
}

.editable-entry input {
    display: none;
    position: absolute;
    border-style: none;
    outline: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    height: 1.5rem;
    border-radius: var(--radius);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.editable-entry-input {
    display: none;
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.options-modal {
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: white;
    /* border: 2px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-weight: 400;
    border-radius: var(--radius-big);
    text-align: left;
    line-height: 1.8rem;
    padding: 1rem 1rem 1rem;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateX(-15px) translateY(-50%);
}

.options-modal li {
    cursor: pointer;
    border-radius: var(--radius-big);
    padding: .5rem;
}

.options-modal li:hover {
    background-color: var(--clr-light);
}

.shown {
    display: block !important;
}

.shown-modal {
    display: block;
}

.data-table th {
    /* background-color: var(--clr-gray200); */
    /* background-color: var(--clr-ink-light-gray); */
    /* background-color: #e7f1e5ff; */
    background-color: var(--clr-background-header);
    padding: 1rem 0 1rem;
    /* color:var(--clr-ink-dark-gray); */
    color: var(--clr-skiny-dip-dark);
}

.data-table td {
    position: relative;
    padding: 1.4rem 0 1.4rem;
    font-weight: 500;
}

tbody>tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-light-gray);
}

tbody>tr:hover {
    cursor: pointer;
}

th:first-child {
    border-top-left-radius: var(--radius-table);
    border-bottom-left-radius: var(--radius-table);
}

th:last-child {
    border-top-right-radius: var(--radius-table);
    border-bottom-right-radius: var(--radius-table);
}

.btn-more-options {
    /* display: block; */
    border-style: none;
    outline: none;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    color: var(--clr-skinny-dip-dark);
}

.btn-more-options:hover {
    color: var(--clr-blue);
}

.btn-primary {
    background: var(--clr-background-btn);
    color: var(--clr-text-btn);
    border: none;
    outline: none;
    border-radius: .75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-wireframe {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: var(--clr-background-btn);
    background: none;
    border: solid 2px var(--clr-background-btn);
    outline: none;
    border-radius: .75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-wireframe:hover {
    color: var(--clr-primary-hover);
    border: solid 2px var(--clr-primary-hover);
}